body {
    background-color: #dfbceb;
    display: flex;
    justify-content: center;
    
}



.main-block {
    height: 30%;
    width: 45%;
    margin: 2%;
    /* display: flex; */
    /* justify-content: center; */
    /* border: 2px rgb(0, 0, 0); */
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h2 {
    font-style: comic;
    text-align: center;
}

li {
    text-align: center;
    overflow: hidden;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    background: #b3f3f8;
    border-radius: 2% / 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 35px;
}

.input-field {
    margin-left: 4%;
    
    margin-top: 4%;
    border-top-left-radius: 4% 30%;
    border-bottom-left-radius: 4% 30%;
    width: 70%;
    height: 25px;
}

.add-task {
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #0B63F6;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 17%;
    height: 30px;
}

.add-task:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}
p {
    text-align: center;
}