body {
    background-color: #dfbceb;
    display: flex;
    justify-content: center;
    
}



.main-block {
    height: 30%;
    width: 30%;
    margin: 2%;
    /* display: flex; */
    /* justify-content: center; */
    /* border: 2px rgb(0, 0, 0); */
    background-color: white;
    border-radius: 5%;
}
h2 {
    font: Impact;
}

li {
    margin-top: 4%;
    background: #b3f3f8;
    border-radius: 5%;
    height: 35px;
}
